# {% if paginator.total_pages > 1 %}
# <div class="pagination container" role="pagination">
#    {% assign url = site.baseurl | append: "/" %}
#    {% if paginator.previous_page %}
#        {% if paginator.previous_page > 1 %}
#            {% assign prev = 'page/' | append: paginator.previous_page %}
#        {% endif %}
#        <div class="alignable pull-left">
#            <a class="button" href="{{ url | append: prev }}" title="articles new">&larr; Prev</a>
#        </div>
#    {% else %}
#        <div><a href=""></a></div>
#    {% endif %}
#    <div style="text-align: center;">
#        <span>Page {{paginator.page}} of {{paginator.total_pages}}</span>
#    </div>
#    {% if paginator.next_page %}
#        <div class="alignable pull-right" style="text-align: right">
#            <a class="button" href="{{ url | append: 'page/' | append: paginator.next_page }}" title="articles old">Next &rarr;</a>
#        </div>
#    {% else %}
#        <div><a href=""></a></div>
#    {% endif %}
#</div>
#{% endif %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
